<!doctype html>
<form lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome To Apartment Booking</title>
</head>



<form>
<div class="container-fluid">
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Add New Apartment</a>
            </nav>
        </div>
    </div>
</div>
</form>
        <div class="col-md-9 col-md-offset-4">
        <form action="saveapartment" method="post">

            <div class="form-group row">
                <label for="inputapartmenttitle" class="col-sm-2 col-form-label">Apartment Title</label>
                <div class="col-sm-10">
                    <input type="text" name="apartmentTitle" class="form-control" id="inputapartmenttitle" placeholder="Enter Apartment Title">
                </div>
            </div>


             <div class="form-group row">
                   <label for="inputapartmentCategory" class="col-sm-2 col-form-label">Select category</label>
                       <div class="col-sm-10">
                         <select name="category" class="form-control" id="inputapartmentCategory" >
                            <option selected="selected">-Select-</option>
                             <option th:text="${category.categoryName}" th:value="${category.categoryId}" th:each="category:${categories}" ></option>
                         </select>
                        </div>
              </div>

            <div class="form-group row">
                <label for="inputapartmentKewWord" class="col-sm-2 col-form-label">Key Word</label>
                <div class="col-sm-10">
                    <input type="text" name="apartmentKeyword" class="form-control" id="inputapartmentKewWord" placeholder="Apartment Keyword">
                </div>
            </div>


            <div class="form-group row">
               <label for="inputapartmentLocationCity" class="col-sm-2 col-form-label">Apartment City</label>
                   <div class="col-sm-10">
                         <input type="text" name="apartmentLocationCity" class="form-control" id="inputapartmentLocationCity" placeholder="Apartment City">
                  </div>
            </div>


            <div class="form-group row">
                           <label for="inputapartmentLocationStreet" class="col-sm-2 col-form-label">Apartment Street</label>
                               <div class="col-sm-10">
                                     <input type="text" name="apartmentLocationStreet" class="form-control" id="inputapartmentLocationStreet" placeholder="Apartment Street">
                              </div>
                        </div>

             <div class="form-group row">
                                <label for="inputapartmentLocationState" class="col-sm-2 col-form-label">Select State</label>
                                    <div class="col-sm-10">
                                      <select name="apartmentLocationState" class="form-control" id="inputapartmentLocationState" >
                                         <option selected="selected">-Select-</option>
                                                        <option value="Iowa">IOWA</option>
                                                        <option value="Texas">TEXAS</option>
                                                        <option value="Nebraska">NEBRASKA</option>
                                                        <option value="Missouri">MISSOURI</option>
                                                        <option value="Tennessee">TENNESSEE</option>
                                                        <option value="California">CALIFORNIA</option>
                                      </select>
                                     </div>
                           </div>

              <div class="form-group row">
                            <label for="inputapartmentLocationZipCode" class="col-sm-2 col-form-label">Apartment Zip Code</label>
                                <div class="col-sm-10">
                                      <input type="number" name="apartmentLocationZipCode" class="form-control" id="inputapartmentLocationZipCode" placeholder="Apartment Zip">
                               </div>
                         </div>

            <div class="form-group row">
                <label for="inputapartmentImages" class="col-sm-2 col-form-label">Apartment Images</label>
                <div class="col-sm-10">
                  <input id="inputapartmentImages" name="apartmentImages" type="file" accept="image/*" multiple />
                </div>
            </div>


            <div class="form-group row">
                                        <label for="inputapartmentDescription" class="col-sm-2 col-form-label">Apartment Description</label>
                                            <div class="col-sm-10">
                                                  <input type="text" name="apartmentDescription" class="form-control" id="inputapartmentDescription" placeholder="Apartment Description">
                                           </div>
                                     </div>


            <div class="form-group row">
                <label for="inputapartmentPhone" class="col-sm-2 col-form-label">Phone No.</label>
                <div class="col-sm-10">
                    <input type="text" name="apartmentPhoneNumber" class="form-control" id="inputapartmentphone" placeholder="Enter Phone">
                </div>
            </div>


            <div class="form-group row">
                            <label for="inputapartmentWebsite" class="col-sm-2 col-form-label">Website</label>
                            <div class="col-sm-10">
                                <input type="text" name="apartmentWebsite" class="form-control" id="inputapartmentWebsite" placeholder="Enter URL">
                            </div>
                        </div>


         <div class="form-group row">
              <label for="inputapartmentEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                        <input type="text" name="apartmentEmail" class="form-control" id="inputapartmentEmail" placeholder="Enter Email">
                   </div>
          </div>

          <div class="form-group row">
                        <label for="inputapartmentPriceDesc" class="col-sm-2 col-form-label">Price Description</label>
                            <div class="col-sm-10">
                                  <input type="text" name="apartmentCostDescription" class="form-control" id="inputapartmentPriceDesc" placeholder="Enter Description about price">
                             </div>
                    </div>

            <div class="form-group row">
                <label for="inputapartmentRate" class="col-sm-2 col-form-label">Rate</label>
                <div class="col-sm-10">
                    <input type="number" step=".01" name="apartmentCost" class="form-control" id="inputapartmentrate" placeholder="Enter rate in $">
                </div>
            </div>


    <!-- correct -->
    <div class="col-md-9 text-center">


        <button id="savebutton" name="saveebutton" class="btn btn-primary">Save</button>
        <br />
        <br />

        <div id="browse_app">
            <a class="btn btn-large btn-info" href="/displayApartments">View Apartments</a>
        </div>

    </div>
        </form>
          <!--  <p th:if="${message}" th:text="${message}"></p>  -->

    </div>
</div>
    </div>
</div>


</body>
</form>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>